<!-- views/change_password.hbs -->
<div class="container">
    <h2>Change Password</h2>
    {{#if errors}}
      <ul>
        {{#each errors}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    {{/if}}
    <form method="post" action="/users/change-password">
        <label for="old_password">Current Password:</label><br>
        <input type="password" id="old_password" name="old_password"><br><br>
        <label for="new_password">New Password:</label><br>
        <input type="password" id="new_password" name="new_password"><br><br>
        <label for="new_password_conf">Confirm New Password:</label><br>
        <input type="password" id="new_password_conf" name="new_password_conf"><br><br>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>